@model ProyectoFinalVeterinaria.Models.Historiales

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Historiales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motivoConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivoConsulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dignostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dignostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enfermedades.nombreEnfermedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enfermedades.nombreEnfermedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Veterinarios.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veterinarios.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idHistorial }) |
    @Html.ActionLink("Back to List", "Index")
</p>
