@model IEnumerable<ProyectoFinalVeterinaria.Models.Enfermedades>

@{
    ViewBag.Title = "Enfermedades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enfermedades Diagnosticadas</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreEnfermedad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descEnfermedad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreEnfermedad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descEnfermedad)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idEnfermedad }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.idEnfermedad }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idEnfermedad })
            </td>
        </tr>
    }
    
</table>
