@model ProyectoFinalVeterinaria.Models.Citas

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de que quieres elminar éste dato?</h3>
<div>
    <h4>Citas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idVeterinario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idVeterinario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clinicas.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinicas.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duenos.nombreDueno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duenos.nombreDueno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCitas.descTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCitas.descTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Veterinarios.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Veterinarios.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
