@model IEnumerable<ProyectoFinalVeterinaria.Models.Veterinarios>

@{
    ViewBag.Title = "Veterinarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Veterinarios de L.S</h2>

<p>
    @Html.ActionLink("Agregar nuevo veterinario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idVeterinario }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idVeterinario }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idVeterinario })
        </td>
    </tr>
}

</table>
